label {
    font-weight: 500;
}

.loginBody {
    background-color: #f5f5f5;
}

a.purple {
    color: #9302E7;
}

a.purple:hover {
    color: #7B00C2;
}

.purpleButton { 
    background-color: #9302E7;
    color: #FFFFFF;
}

.purpleButton:hover {
    background-color: #7B00C2;
    color: #FFFFFF;
}

.purpleButton:active {
    background-color: #9302E7;
    color: #FFFFFF;
}

.purpleOutlineBtn {
    background-color: #FFFFFF;
    border-color: #9302E7;
    color: #9302E7;
}

.purpleOutlineBtn:hover {
    background-color: #9302E7;
    border-color: #9302E7;
    color: #ffffff;
}

.inputFocus:focus {
    border-color: #9302E7;
    box-shadow: 0px 0px 5px 1px rgb(147, 2, 231, .25);
}

.bookmarkTitle {
    color: #9302E7;
}

.deleteIcon {
    padding-bottom: .15rem;
}